<?xml version="1.0" encoding="UTF-8"?>
<!--Created by  on Mon Dec 28 2020 11:24:05 GMT+0800 (中国标准时间)-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bullseye.mapper.BannerMapper">
    <resultMap id="BaseResultMap" type="com.chris.bullseye.pojo.Banner">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="link" jdbcType="VARCHAR" property="link" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
        <result column="status" jdbcType="INTEGER" property="status" />
        
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.chris.bullseye.dto.BannerDto" extends="BaseResultMap">
       <result column="userName" jdbcType="VARCHAR" property="userName"/>
    </resultMap>
    
    <sql id="basic_list">
		a.id, a.name, a.path, a.link, a.sequence, a.status,a.user_id
	</sql>

    <select id="getListByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>,staff.name as userName
        FROM kb_banners a
        left join kb_accounts act on act.id = a.user_id
        left join kb_staffs staff on staff.id = act.staff_id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="path!=null and path!='' ">
                and a.path LIKE CONCAT('%', #{ path }, '%')
            </if>
            <if test="link!=null and link!='' ">
                and a.link LIKE CONCAT('%', #{ link }, '%')
            </if>
            <if test="sequence!=null and sequence!='' ">
                and a.sequence LIKE CONCAT('%', #{ sequence }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
        </where>
        order by a.created desc

        <if test="limit!=null and limit!='' ">
            limit ${limit}
        </if>
    </select>

       <select id="getByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>,staff.name as userName
        FROM kb_banners a
        left join kb_accounts act on act.id = a.user_id
        left join kb_staff on staff.id = act.staff_id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="path!=null and path!='' ">
                and a.path LIKE CONCAT('%', #{ path }, '%')
            </if>
            <if test="link!=null and link!='' ">
                and a.link LIKE CONCAT('%', #{ link }, '%')
            </if>
            <if test="sequence!=null and sequence!='' ">
                and a.sequence LIKE CONCAT('%', #{ sequence }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
        </where>
        limit 1
    </select>
</mapper>