<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bullseye.mapper.DictionaryDataMapper">
    <resultMap id="BaseResultMap" type="com.chris.bullseye.pojo.DictionaryData">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="type_id" jdbcType="VARCHAR" property="typeId" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />

    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.chris.bullseye.dto.DictionaryDataDto" extends="BaseResultMap">
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
    </resultMap>

    <sql id="basic_list">
        a.id, a.type_id, a.code, a.name, a.remark, a.sequence, a.status, a.created, a.user_id
    </sql>


    <select id="getListByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>,staff.name as userName,dt.name as typeName
        FROM kb_dictionary_data a
        left join kb_dictionary_type dt on a.type_id = dt.id
        left join kb_accounts act on act.id = a.user_id
        left join kb_staffs staff on staff.id = act.staff_id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="typeId!=null and typeId!='' ">
                and a.type_id=#{ typeId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="remark!=null and remark!='' ">
                and a.remark LIKE CONCAT('%', #{ remark }, '%')
            </if>
            <if test="sequence!=null and sequence!='' ">
                and a.sequence LIKE CONCAT('%', #{ sequence }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
            <if test="created!=null and created!='' ">
                and a.created LIKE CONCAT('%', #{ created }, '%')
            </if>
            <if test="userId!=null and userId!='' ">
                and a.user_id=#{ userId }
            </if>
        </where>
        order by a.created desc
    </select>

    <select id="getDtoListByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>,staff.name as userName,dt.name as typeName
        FROM kb_dictionary_data a
        left join kb_dictionary_type dt on a.type_id = dt.id
        left join kb_accounts act on act.id = a.user_id
        left join kb_staffs staff on staff.id = act.staff_id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="typeId!=null and typeId!='' ">
                and a.type_id=#{ typeId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="remark!=null and remark!='' ">
                and a.remark LIKE CONCAT('%', #{ remark }, '%')
            </if>
            <if test="sequence!=null and sequence!='' ">
                and a.sequence LIKE CONCAT('%', #{ sequence }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
            <if test="created!=null and created!='' ">
                and a.created LIKE CONCAT('%', #{ created }, '%')
            </if>
            <if test="userId!=null and userId!='' ">
                and a.user_id=#{ userId }
            </if>
        </where>
        order by a.created desc
    </select>

    <select id="getByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>,staff.name as userName,dt.name as typeName
        FROM kb_dictionary_data a
        left join kb_dictionary_type dt on a.type_id = dt.id
        left join kb_accounts act on act.id = a.user_id
        left join kb_staffs staff on staff.id = act.staff_id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="typeId!=null and typeId!='' ">
                and a.type_id=#{ typeId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code = #{ code }
            </if>
            <if test="dtCode!=null and dtCode!='' ">
                and dt.code = #{dtCode}
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="remark!=null and remark!='' ">
                and a.remark LIKE CONCAT('%', #{ remark }, '%')
            </if>
            <if test="sequence!=null and sequence!='' ">
                and a.sequence LIKE CONCAT('%', #{ sequence }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
            <if test="created!=null and created!='' ">
                and a.created LIKE CONCAT('%', #{ created }, '%')
            </if>
            <if test="userId!=null and userId!='' ">
                and a.user_id=#{ userId }
            </if>
        </where>
        limit 1
    </select>
</mapper>
