<?xml version="1.0" encoding="UTF-8"?>
<!--Created by  on Sun Apr 28 2019 22:53:33 GMT+0800 (中国标准时间)-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bullseye.system.mapper.AccountRoleMapper">
  <resultMap id="BaseResultMap" type="com.chris.bullseye.system.pojo.AccountRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />

  </resultMap>

  <resultMap id="BaseResultMapDto" type="com.chris.bullseye.system.dto.AccountRoleDto" extends="BaseResultMap">
    <result column="userName" jdbcType="VARCHAR" property="userName"/>
  </resultMap>

  <sql id="basic_list">
    a.id, a.role_id, a.account_id, a.status, a.creator_id, a.create_time
  </sql>

  <select id="getListByParams" resultMap="BaseResultMap" parameterType="map">
    SELECT
    <include refid="basic_list"/>
    FROM b_account_role a
    <where>
      <if test="id!=null and id!='' ">
        and a.id=#{ id }
      </if>
      <if test="roleId!=null and roleId!='' ">
        and a.role_id=#{ roleId }
      </if>
      <if test="accountId!=null and accountId!='' ">
        and a.account_id=#{ accountId }
      </if>
      <if test="status!=null and status!='' ">
        and a.status = #{ status }
      </if>
      <if test="creatorId!=null and creatorId!='' ">
        and a.creator_id=#{ creatorId }
      </if>
    </where>
    order by a.create_time
  </select>

  <delete id="deleteByAccountId" parameterType="string">
     delete from b_account_role where account_id = #{accountId}
  </delete>

  <delete id="deleteAdminByAccountId" parameterType="string">
     delete from b_account_role where account_id = #{accountId}  and role_id  = (select id from b_role where code = #{roleCode})
  </delete>

  <delete id="deleteByAccountRoleId" parameterType="map">
     delete from b_account_role where role_id = #{roleId}  and account_id  in (select id from b_account where organization_id = #{organizationId})
  </delete>
</mapper>