<?xml version="1.0" encoding="UTF-8"?>
<!--Created by  on Fri Dec 25 2020 19:31:22 GMT+0800 (中国标准时间)-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bullseye.system.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.chris.bullseye.system.pojo.Department">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="organization_id" jdbcType="VARCHAR" property="organizationId" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type_id" jdbcType="VARCHAR" property="typeId" />
        <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />

    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.chris.bullseye.system.dto.response.DepartmentResponse" extends="BaseResultMap">
    </resultMap>

    <sql id="basic_list">
        a.id, a.organization_id, a.code, a.parent_id, a.name, a.type_id, a.contact_name, a.contact_phone, a.creator_id, a.status, a.create_time, a.remark
    </sql>

    <select id="getListByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM b_department a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="organizationId!=null and organizationId!='' ">
                and a.organization_id=#{ organizationId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
            <if test="parentId!=null and parentId!='' ">
                and a.parent_id=#{ parentId }
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="typeId!=null and typeId!='' ">
                and a.type_id=#{ typeId }
            </if>
            <if test="contactName!=null and contactName!='' ">
                and a.contact_name LIKE CONCAT('%', #{ contactName }, '%')
            </if>
            <if test="contactPhone!=null and contactPhone!='' ">
                and a.contact_phone LIKE CONCAT('%', #{ contactPhone }, '%')
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="getByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM b_department a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="organizationId!=null and organizationId!='' ">
                and a.organization_id=#{ organizationId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
            <if test="parentId!=null and parentId!='' ">
                and a.parent_id=#{ parentId }
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="typeId!=null and typeId!='' ">
                and a.type_id=#{ typeId }
            </if>
            <if test="contactName!=null and contactName!='' ">
                and a.contact_name LIKE CONCAT('%', #{ contactName }, '%')
            </if>
            <if test="contactPhone!=null and contactPhone!='' ">
                and a.contact_phone LIKE CONCAT('%', #{ contactPhone }, '%')
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
        </where>
        limit 1
    </select>
</mapper>