<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bullseye.system.mapper.DictionaryTypeDataMapper">
    <resultMap id="BaseResultMap" type="com.chris.bullseye.system.pojo.DictionaryTypeData">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="type_id" jdbcType="VARCHAR" property="typeId" />
        <result column="type_name" jdbcType="VARCHAR" property="typeName" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />

    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.chris.bullseye.system.dto.response.DictionaryTypeDataResponse" extends="BaseResultMap">

    </resultMap>

    <sql id="basic_list">
        a.id, a.type_id,a.type_name, a.code, a.name, a.remark, a.sort, a.status, a.create_time, a.creator_id
    </sql>


    <select id="getListByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM b_dictionary_type_data a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="typeId!=null and typeId!='' ">
                and a.type_id=#{ typeId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="getDtoListByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM b_dictionary_type_data a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="typeId!=null and typeId!='' ">
                and a.type_id=#{ typeId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="getByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>,dt.name as typeName
        FROM b_dictionary_type_data a
        left join b_dictionary_type dt on a.type_id = dt.id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="typeId!=null and typeId!='' ">
                and a.type_id=#{ typeId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code = #{ code }
            </if>
            <if test="dtCode!=null and dtCode!='' ">
                and dt.code = #{dtCode}
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
        </where>
        limit 1
    </select>
</mapper>
