<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bullseye.system.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.chris.bullseye.system.pojo.Menu">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="component" jdbcType="VARCHAR" property="component" />
        <result column="redirect" jdbcType="VARCHAR" property="redirect" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="hidden" jdbcType="BIT" property="hidden" />
        <result column="always_show" jdbcType="BIT" property="alwaysShow" />
        <result column="affix" jdbcType="BIT" property="affix" />
        <result column="no_cache" jdbcType="BIT" property="noCache" />
        <result column="breadcrumb" jdbcType="BIT" property="breadcrumb" />
        <result column="active_menu" jdbcType="VARCHAR" property="activeMenu" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>


    <resultMap id="BaseResultMapDto" type="com.chris.bullseye.system.dto.response.MenuResponse" extends="BaseResultMap">
        <result column="menu_value" jdbcType="VARCHAR" property="value"/>
        <result column="menu_key" jdbcType="VARCHAR" property="key"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="childNum" jdbcType="VARCHAR" property="childNum"/>
    </resultMap>


    <sql id="basic_list">
        a.id,
        a.parent_id,
        a.path,
        a.name,
        a.component,
        a.redirect,
        a.title,
        a.icon,
        a.hidden,
        a.always_show,
        a.affix,
        a.no_cache,
        a.breadcrumb,
        a.active_menu,
        a.code,
        a.creator_id,
        a.creator_name,
        a.status,
        a.sort,
        a.create_time
    </sql>

    <select id="getListByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>,a.id as menu_key,a.id as menu_value
        FROM b_menu a
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="parentId!=null and parentId!='' ">
                and a.parent_id=#{ parentId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
            <if test="title!=null and title!='' ">
                and a.title LIKE CONCAT('%', #{ title }, '%')
            </if>
            <if test="path!=null and path!='' ">
                and a.path LIKE CONCAT('%', #{ path }, '%')
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
        </where>
        order by a.sort desc
    </select>


    <select id="getDtoListByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>,ifnull(temp.num,0) as childNum
        FROM b_menu a
        left join (
        select cc.parent_id AS parent_id,count(cc.id) AS num from  b_menu cc
        WHERE cc.parent_id IS not NULL  GROUP BY cc.parent_id
        )  temp ON  temp.parent_id = a.id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="parentId!=null and parentId!='' ">
                and a.parent_id=#{ parentId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
            <if test="title!=null and title!='' ">
                and a.title LIKE CONCAT('%', #{ title }, '%')
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
            <if test="isFirst!=null and isFirst!='' and isFirst=='true' ">
                and (a.parent_id is null or a.parent_id ='')
            </if>
        </where>
        order by a.sort desc
    </select>

    <select id="getMenusByAccountId" parameterType="map" resultMap="BaseResultMap">
  		SELECT DISTINCT
        <include refid="basic_list"/>
		FROM
			b_menu a
		LEFT JOIN b_role_menu rm ON rm.menu_id = a.id
		WHERE
			rm.role_id IN ( SELECT DISTINCT ar.role_id FROM b_account_role ar where ar.account_id = #{accountId})

		order BY a.sort desc
    </select>

    <select id="getMenusByRoleId" parameterType="String" resultMap="BaseResultMapDto">
  		SELECT
        <include refid="basic_list"/>
		FROM
			b_menu a
		LEFT JOIN b_role_menu rm ON rm.menu_id = a.id
		WHERE
			rm.role_id = #{roleId}
		ORDER BY a.sort desc
  </select>

    <select id="getAllMenus" parameterType="String" resultMap="BaseResultMapDto">
  		SELECT
        <include refid="basic_list"/>,a.id as menu_key,a.id as menu_value
		FROM
			b_menu a
		ORDER BY
			m.sort asc
  </select>

    <select id="getOrganizationAuthMenus" parameterType="String" resultMap="BaseResultMapDto">
        select <include refid="basic_list"/>,a.id as menu_key,a.id as menu_value from b_organization_menu om
        left join b_menu a on m.id = om.menu_id

        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="parentId!=null and parentId!='' ">
                and a.parent_id=#{ parentId }
            </if>
            <if test="code!=null and code!='' ">
                and a.code LIKE CONCAT('%', #{ code }, '%')
            </if>
            <if test="title!=null and title!='' ">
                and a.title LIKE CONCAT('%', #{ title }, '%')
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
        </where>
        order by a.sort ASC
    </select>
</mapper>
