<?xml version="1.0" encoding="UTF-8"?>
<!--Created by  on Fri Dec 25 2020 19:52:09 GMT+0800 (中国标准时间)-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bullseye.system.mapper.StaffMapper">
    <resultMap id="BaseResultMap" type="com.chris.bullseye.system.pojo.Staff">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="gender_id" jdbcType="VARCHAR" property="genderId" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="organization_id" jdbcType="VARCHAR" property="organizationId" />
        <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
        <result column="major_id" jdbcType="VARCHAR" property="majorId" />
        <result column="birthday" jdbcType="VARCHAR" property="birthday" />
        <result column="academic_id" jdbcType="VARCHAR" property="academicId" />
        <result column="degree_id" jdbcType="VARCHAR" property="degreeId" />
        <result column="position_id" jdbcType="VARCHAR" property="positionId" />
        <result column="title_id" jdbcType="VARCHAR" property="titleId" />
        <result column="type_id" jdbcType="VARCHAR" property="typeId" />
        <result column="identify_type_id" jdbcType="VARCHAR" property="identifyTypeId" />
        <result column="identify_no" jdbcType="VARCHAR" property="identifyNo" />
        <result column="province_id" jdbcType="VARCHAR" property="provinceId" />
        <result column="city_id" jdbcType="VARCHAR" property="cityId" />
        <result column="policy" jdbcType="VARCHAR" property="policy" />
        <result column="nation_id" jdbcType="VARCHAR" property="nationId" />
        <result column="join_date" jdbcType="VARCHAR" property="joinDate" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="img" jdbcType="VARCHAR" property="img" />
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />

    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.chris.bullseye.system.dto.response.StaffResponse" extends="BaseResultMap">
        <result column="majorName" jdbcType="VARCHAR" property="majorName"/>
    </resultMap>

    <sql id="basic_list">
        a.id, a.serial_no,a.img, a.name, a.gender_id, a.mobile, a.email, a.organization_id, a.department_id, a.major_id, a.birthday, a.academic_id, a.degree_id, a.position_id, a.title_id, a.type_id, a.identify_type_id, a.identify_no, a.province_id, a.city_id, a.policy, a.nation_id, a.join_date, a.remark, a.creator_id, a.status, a.create_time
    </sql>

    <select id="getListByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM b_staff a
        left join b_organization org on org.id = a.organization_id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="serialNo!=null and serialNo!='' ">
                and a.serial_no LIKE CONCAT('%', #{ serialNo }, '%')
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="mobile!=null and mobile!='' ">
                and a.mobile LIKE CONCAT('%', #{ mobile }, '%')
            </if>
            <if test="email!=null and email!='' ">
                and a.email LIKE CONCAT('%', #{ email }, '%')
            </if>
            <if test="organizationId!=null and organizationId!='' ">
                and a.organization_id=#{ organizationId }
            </if>
            <if test="departmentId!=null and departmentId!='' ">
                and a.department_id=#{ departmentId }
            </if>
            <if test="majorId!=null and majorId!='' ">
                and a.major_id=#{ majorId }
            </if>
            <if test="birthday!=null and birthday!='' ">
                and a.birthday LIKE CONCAT('%', #{ birthday }, '%')
            </if>
            <if test="typeId!=null and typeId!='' ">
                and a.type_id=#{ typeId }
            </if>
            <if test="identifyNo!=null and identifyNo!='' ">
                and a.identify_no=#{ identifyNo }
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
        </where>
        order by a.create_time desc
    </select>



    <select id="getByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>
        FROM b_staff a
        left join b_organization org on org.id = a.organization_id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="staffId!=null and staffId!='' ">
                and a.id=#{staffId}
            </if>
            <if test="serialNo!=null and serialNo!='' ">
                and a.serial_no =#{serialNo}
            </if>
            <if test="name!=null and name!='' ">
                and a.name LIKE CONCAT('%', #{ name }, '%')
            </if>
            <if test="genderId!=null and genderId!='' ">
                and a.gender_id=#{ genderId }
            </if>
            <if test="mobile!=null and mobile!='' ">
                and a.mobile LIKE CONCAT('%', #{ mobile }, '%')
            </if>
            <if test="email!=null and email!='' ">
                and a.email LIKE CONCAT('%', #{ email }, '%')
            </if>
            <if test="organizationId!=null and organizationId!='' ">
                and a.organization_id=#{ organizationId }
            </if>
            <if test="departmentId!=null and departmentId!='' ">
                and a.department_id=#{ departmentId }
            </if>
            <if test="majorId!=null and majorId!='' ">
                and a.major_id=#{ majorId }
            </if>
            <if test="birthday!=null and birthday!='' ">
                and a.birthday LIKE CONCAT('%', #{ birthday }, '%')
            </if>
            <if test="academicId!=null and academicId!='' ">
                and a.academic_id=#{ academicId }
            </if>
            <if test="degreeId!=null and degreeId!='' ">
                and a.degree_id=#{ degreeId }
            </if>
            <if test="positionId!=null and positionId!='' ">
                and a.position_id=#{ positionId }
            </if>
            <if test="titleId!=null and titleId!='' ">
                and a.title_id=#{ titleId }
            </if>
            <if test="typeId!=null and typeId!='' ">
                and a.type_id=#{ typeId }
            </if>
            <if test="identifyTypeId!=null and identifyTypeId!='' ">
                and a.identify_type_id=#{ identifyTypeId }
            </if>
            <if test="identifyNo!=null and identifyNo!='' ">
                and a.identify_no=#{ identifyNo }
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
        </where>
        limit 1
    </select>
</mapper>