<?xml version="1.0" encoding="UTF-8"?>
<!--Created by  on Fri Dec 25 2020 19:54:13 GMT+0800 (中国标准时间)-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.bullseye.system.mapper.UserFeedbackMapper">
    <resultMap id="BaseResultMap" type="com.chris.bullseye.system.pojo.UserFeedback">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
        <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
        <result column="attach" jdbcType="VARCHAR" property="attach" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.chris.bullseye.system.dto.UserFeedbackDto" extends="BaseResultMap">
       <result column="userName" jdbcType="VARCHAR" property="userName"/>
    </resultMap>
    
    <sql id="basic_list">
		a.id, a.creator_id, a.contact_name, a.contact_phone, a.content, a.attach, a.create_time, a.status
	</sql>

    <select id="getListByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>,staff.name as userName
        FROM b_user_feedback a
        left join b_account act on act.id = a.creator_id
        left join b_staff staff on staff.id = act.staff_id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
            <if test="contactName!=null and contactName!='' ">
                and a.contact_name LIKE CONCAT('%', #{ contactName }, '%')
            </if>
            <if test="contactPhone!=null and contactPhone!='' ">
                and a.contact_phone LIKE CONCAT('%', #{ contactPhone }, '%')
            </if>
            <if test="content!=null and content!='' ">
                and a.content LIKE CONCAT('%', #{ content }, '%')
            </if>
            <if test="attach!=null and attach!='' ">
                and a.attach LIKE CONCAT('%', #{ attach }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
        </where>
        order by a.create_time desc
    </select>

       <select id="getByParams" resultMap="BaseResultMapDto" parameterType="map">
        SELECT
        <include refid="basic_list"/>,staff.name as userName
        FROM b_user_feedback a
        left join b_account act on act.id = a.creator_id
        left join b_staff staff on staff.id = act.staff_id
        <where>
            <if test="id!=null and id!='' ">
                and a.id=#{ id }
            </if>
            <if test="creatorId!=null and creatorId!='' ">
                and a.creator_id=#{ creatorId }
            </if>
            <if test="contactName!=null and contactName!='' ">
                and a.contact_name LIKE CONCAT('%', #{ contactName }, '%')
            </if>
            <if test="contactPhone!=null and contactPhone!='' ">
                and a.contact_phone LIKE CONCAT('%', #{ contactPhone }, '%')
            </if>
            <if test="content!=null and content!='' ">
                and a.content LIKE CONCAT('%', #{ content }, '%')
            </if>
            <if test="attach!=null and attach!='' ">
                and a.attach LIKE CONCAT('%', #{ attach }, '%')
            </if>
            <if test="status!=null and status!='' ">
                and a.status = #{ status }
            </if>
        </where>
        limit 1
    </select>
</mapper>